@page
@model mecanico_plus.Pages.Principal.Servicio.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-bottom: 20px;" class="text-3xl font-bold">Detalle</h1>

<div>
    <h4 style="margin-bottom: 20px;" class="text-xl font-medium">Servicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t014_servicio.f014_ts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t014_servicio.f014_ts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t014_servicio.f014_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t014_servicio.f014_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t014_servicio.f014_nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t014_servicio.f014_nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t014_servicio.f014_valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t014_servicio.f014_valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t014_servicio.vObjEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t014_servicio.vObjEmpresa.f002_alcance)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.t014_servicio.f014_rowid">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
