@page
@model mecanico_plus.Pages.Principal.Inventario.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-bottom: 20px;" class="text-3xl font-bold">Detalles</h1>

<div>
    <h4 style="margin-bottom: 20px;" class="text-xl font-medium">Inventario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t015_inventario.f015_ts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t015_inventario.f015_ts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t015_inventario.f015_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t015_inventario.f015_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t015_inventario.f015_nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t015_inventario.f015_nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t015_inventario.f015_descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t015_inventario.f015_descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t015_inventario.f015_cantidad_disponible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t015_inventario.f015_cantidad_disponible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t015_inventario.f015_precio_unitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t015_inventario.f015_precio_unitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.t015_inventario.vObjEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.t015_inventario.vObjEmpresa.f002_alcance)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.t015_inventario.f015_rowid">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
